# AGENTS
.agents/
.claude/

# VENV
.venv/
.python-version
uv.lock

# CLAB
clab-intent-lab/
monitoring/grafana/
monitoring/prometheus/
monitoring/telegraf/

# Infrahub
infrahubctl.toml
build/
__pycache__/
*.pyc
.env